---
layout: home
title: Home
author: keithvenh
---

<div class="content-area main">
  <h1 class="title main">The VenHuizens</h1>

  <p class="mission main">
    Because our King is Jesus, our joy shines through and our words speak life.
    <br>
    Our choices matter, our posture is humility and we give our lives to serve others.
  </p>

</div>

<div class="content-area blogs">
  <h2 class="title section">Latest Blog Posts</h2>
  <div class="post-list">
  {% for post in site.posts %}
    <a href="{{ post.url }}"><img class="post-image thumbnail" src="{{ post.image }}"></a>
    {{ post.excerpt }}
  {% endfor %}
  </div>
</div>

<div class="content-area videos">
  <h2 class="title section">Latest Videos</h2>
  {% for video in site.videos %}
    <a href="{{ video.url }}">{{ video.video }}</a>
    {{ video.summary }}
  {% endfor %}
</div>

<div class="content-area about">
  <h2 class="title section">About Us</h2>
</div>

<div class="content-area contact">
  <h2 class="title section">Contact Us</h2>
</div>