---
layout: home
title: Home
author: keithvenh
---

<div class="content-area main">
  <h1 class="title main">The VenHuizens</h1>

  <p class="mission main">
    Because our King is Jesus, our joy shines through and our words speak life.
    <br>
    Our choices matter, our posture is humility and we give our lives to serve others.
  </p>

</div>

<div class="content-area section blogs">
  <h2 class="title section">Latest Blog Posts</h2>
  <div class="post-list">
  {% for post in site.posts %}
    {% if forloop.index < 6 %}
    <div class="post-item">
      <div class="post-image wrapper">
        <a href="{{ post.url }}"><img class="post-image thumbnail" src="{{ post.image }}"></a>
      </div>  
      <h3 class="title post">{{ post.title }} | {{ post.date | date_to_string }}</h3>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div class="content-area section videos">
  <h2 class="title section">Latest Videos</h2>
  <div class="post-list">
  {% for video in site.videos %}
    {% if forloop.index < 6 %}
    <div class="post-item">
      <div class="post-image wrapper">
        <a href="{{ video.url }}"><img class="post-image thumbnail" src="{{ video.image }}"></a>
      </div>  
      <h3 class="title post">{{ video.title }} | {{ video.date | date_to_string }}</h3>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div class="content-area section about">
  <h2 class="title section">About Us</h2>
</div>

<div class="content-area section contact">
  <h2 class="title section">Contact Us</h2>
</div>