<header class="nav-bar">

  <div class="nav nav-brand">
    <a href="/">
      <img src="assets/images/logo.png" class="brand-logo">
    </a>
  </div>

  <div class="nav nav-links">
    <ul class="nav-links-list">
      <li class="nav nav-item"><a href="#about">About</a></li>
      <li class="nav nav-item"><a href="#blogs">Blog</a></li>
      <li class="nav nav-item"><a href="#videos">Videos</a></l>
      <li class="nav nav-item"><a href="#contact">Contact</a></l>
      <li class="nav nav-item"><a href="/tasks">Tasks</a></li>
    </ul>
  </div>

  <div class="nav nav-donate">
    <a class="nav-donate-link" href="/donate">
      <p class="nav-donate">Donate</p>
    </a>
  </div>
</header>



<!-- <div class="nav-bar">

  <div class="nav-brand">
    <a href="/">
      <img src="assets/images/logo.png">
    </a>
  </div>


  <div class="nav-container">
    <ul class="nav-links">
      <li class="nav-links-item">
        <a href="#about">About</a>
      </li>
      <li class="nav-links-item">
        <a href="#blogs">Blogs</a>
      </li>
      <li class="nav-links-item">
        <a href="#videos">Videos</a>
      </li>
      <li class="nav-links-item">
        <a href="/tasks">Tasks</a>
      </li>
      <li class="nav-links-item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>

  <a class="nav-donate-link" href="#">
    <p class="nav-donate">Donate</p>
  </a>
</div> -->