<div class="nav-bar">
  
  <!-- NAVBAR BRAND -->
  <div class="nav-brand">
    <a href="/">
      <img src="assets/images/logo.png">
    </a>
  </div>


  <div class="nav-container">
    <ul class="nav-links">
      <li class="nav-links-item">
        <a href="#">About</a>
      </li>
      <li class="nav-links-item">
        <a href="#">Blogs</a>
      </li>
      <li class="nav-links-item">
        <a href="#">Videos</a>
      </li>
      <li class="nav-links-item">
        <a href="/tasks">Tasks</a>
      </li>
      <li class="nav-links-item">
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>

  <a class="nav-donate-link" href="#">
    <p class="nav-donate">Donate</p>
  </a>
</div>