@import "variables";

body {
  color: $darkest-grey;
  font-family: $sans;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
}

.container {
  display: flex;
}

.content-area {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2vw;
  position: relative;
}

.title {
  text-align: center;
}

.task-list {
  list-style-type: none;
}