@import "variables";

.nav {
  position: relative;
  top: -1rem;
  margin: 0;
}

.nav-bar {
  background-color: $white;
  border-bottom: 5px solid $primary-gold;
  padding-top: 1.5rem;
  padding-bottom: .75rem;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-item {
  text-transform: uppercase; 
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.1rem;
  padding: 1vh;
  text-align: center;
  min-width: 125px;

  a {
    color: $darkest-grey;
    border-top: 2px solid $white;
    &:hover {
      border-top: 2px solid $primary-gold;
    }
  }
}
