// ===== FONTS ===== //
$sans: 'Montserrat', sans-serif;
$serif: 'Merriweather', serif;
$perm: "Permanent Marker", $sans, sans-serif;

// ===== COLOR SCHEME ===== //
// TEALS //
$primary-teal: #096c56;
$dark-teal: #064638;
$darkest-teal: #0C342B;
$light-teal: #00896a;
$lightest-teal: #00b68d;

// GOLDS //
$primary-gold: #e1b418;
$dark-gold: #dcaa00;
$darkest-gold: #d5a500;
$light-gold: #ceb55f;
$lightest-gold: #aca27e;

// GREYS //
$primary-grey: #49484c;
$dark-grey: #464649;
$darkest-grey: #434344;
$light-grey: #4a494e;
$lightest-grey: #5c5c5f;

// PEACHES //
$primary-peach: #ffaa75;
$dark-peach: #d39772;
$light-peach: #ffad7a;

// GREYSCALE //
$white: #fafafd;
$dark-white: #f0f0f0;
$black: #050509;