---
---

@import "variables";
@import "nav";
@import "index";

body, html {
  font-family: $sans;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
}

.content-area {
  color: $darkest-grey;
  background-position: center;
  background-size: cover;
  height: calc(var(--vh, 1vh) *100);
  margin-left: 70px;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: relative;
}

.title {
  text-align: center;
}

.task-list {
  list-style-type: none;
}